extends layout

block content
    link(rel='stylesheet', href='/stylesheets/pages/navBar.css')
    link(rel='stylesheet', href='/stylesheets/pages/editar.css')

    nav.navbar#nav
        a(href="/")
        .nav-items
          a.retirarLink(href="/ucs")   
            button#botao_adicionar_UC Lista de UCs
          a.retirarLink(href="/logout")
            button#botao_terminar_sessao Terminar Sessão

    .w3-card-4
      header.w3-container.w3-white
        h2 Aula de #{aula.data}
        .separador-header
      
      if erro
        .w3-panel.w3-red
          p= erro

      form.w3-container(method="POST", enctype="multipart/form-data")
        input(type="hidden", name="_method", value="PUT")
        fieldset
          legend Metadados
          label(for="_id") ID
          input.w3-input.w3-round(type="hidden", name="_id", value=aula._id)
          label(for="tipo") Tipo da Aula (Teórica ou Prática)
          select.w3-input.w3-round(name="tipo")
            option(value="T", selected=aula.tipo === 'T') Aula Teórica
            option(value="P", selected=aula.tipo === 'P') Aula Prática
          label(for="data") Data da Aula
          input.w3-input.w3-round(type="text", name="data", value=aula.data, placeholder="Ano-Mês-Dia")
          label(for="sumario") Sumário
          textarea.w3-input.w3-round(name="sumario", style="height:170px", placeholder="Insira o sumário da aula aqui")= aula.sumario.join('\n')
          label(for="anexos") Anexos
          if aula.anexos.length > 0
              p Mantenha selecionado os ficheiros que quer manter:
              each anexo in aula.anexos
                p 
                  input.w3-check(type="checkbox" name=anexo checked="checked")
                  label= anexo
          p Insira os novos ficheiros:
          input.w3-input.w3-round(type="file", name="anexos", multiple)
          
        button.w3-btn.w3-teal.w3-mb-2(type="submit", style="margin-top:10px") Atualizar
      
      footer.w3-container.w3-ligthgray(style="margin-top:10px")
        a.retirarLink(href=`/ucs/${idUC}`)   
          button#botao_voltar Voltar
