extends layout

block content
    link(rel='stylesheet', href='/stylesheets/pages/navBar.css')
    link(rel='stylesheet', href='/stylesheets/pages/editar.css')

    nav.navbar#nav
        a(href="/")
        .nav-items
            a.retirarLink(href="/ucs")   
                button#botao_adicionar_UC Lista de UCs
            a.retirarLink(href="/logout")
                button#botao_terminar_sessao Terminar Sessão

    .w3-card-4
        header.w3-container.w3-white
            h2 Editar Unidade Curricular
            .separador-header

        if erro
            .w3-panel.w3-red
                p= erro

        form.w3-container(method="POST")
            fieldset
                legend Metadados

                p(style="font-size: 20px; font-weight:bold;") Nome da Unidade Curricular
                label(for="sigla") Sigla da UC *
                input.w3-input.w3-round(type="text", name="sigla", value=uc.sigla, required)
                label(for="titulo") Título da UC *
                input.w3-input.w3-round(type="text", name="titulo", value=uc.titulo, required)

                p(style="font-size: 20px; font-weight:bold;") Docentes

                input(type="hidden", name="_id", value=uc._id)
                input(type="hidden", name="foto", value="")
                input(type="hidden", name="aulas", value=uc.aulas)

                // Campos para os docentes
                each docente in uc.docentes
                    .docente
                        label(for="nome") Nome do Docente
                        input.w3-input.w3-round(type="text", name="docentes_nome", value=docente.nome, required)

                        label(for="categoria") Categoria do Docente
                        input.w3-input.w3-round(type="text", name="docentes_categoria", value=docente.categoria)

                        label(for="filiacao") Filiação do Docente  
                        input.w3-input.w3-round(type="text", name="docentes_filiacao", value=docente.filiacao)

                        label(for="email") Email do Docente  
                        input.w3-input.w3-round(type="email", name="docentes_email", value=docente.email, required)

                        label(for="webpage") Página Web do Docente 
                        input.w3-input.w3-round(type="text", name="docentes_webpage", value=docente.webpage)

                        input(type="hidden", name="foto-docentes", value=docente.foto)
                        .separador-docente


                #docentes-adicionados

                button#adicionar-docente(type="button", style="margin-top: 10px") Adicionar Docente

                .separador-docente
                p(style="font-size: 20px; font-weight:bold;") Horário da Unidade Curricular
                // Campos para horário
                label(for="teoricas") Aulas Teóricas
                textarea.w3-input.w3-round(name="teoricas", style="height:70px", placeholder="Dia da semana, Hora início - Hora fim, Sala")= uc.horario.teoricas.join('\n')

                label(for="praticas") Aulas Práticas
                textarea.w3-input.w3-round(name="praticas", style="height:170px", placeholder="Dia da semana, Hora início - Hora fim, Sala")= uc.horario.praticas.join('\n')

                .separador-docente
                p(style="font-size: 20px; font-weight:bold;") Método de Avaliação da Unidade Curricular

                // Campos para avaliação
                label(for="avaliacao") Métodos de Avaliação
                textarea.w3-input.w3-round(name="avaliacao", style="height:170px", placeholder="Descreva o método de avaliação aqui")= uc.avaliacao.join('\n')

                .separador-docente
                p(style="font-size: 20px; font-weight:bold;") Datas Relevantes da Unidade Curricular

                // Campos para datas importantes
                label(for="teste") Data do Teste
                input.w3-input.w3-round(type="text", name="teste", placeholder="Data do Teste - Ano/Mês/Dia; Informação das salas", value=uc.datas.teste)

                label(for="exame") Data do Exame
                input.w3-input.w3-round(type="text", name="exame", placeholder="Data do Exame - Ano/Mês/Dia; Informação das salas", value=uc.datas.exame)

                label(for="projeto") Data do Projeto
                input.w3-input.w3-round(type="text", name="projeto", placeholder="Data do Projeto - Ano/Mês/Dia; Informação das salas", value=uc.datas.projeto)

            button.w3-btn.w3-teal.w3-mb-2(type="submit", style="margin-top:10px") Atualizar

        footer.w3-container.w3-ligthgray(style="margin-top:10px")
            a.retirarLink(href="/ucs")   
                button#botao_voltar Voltar

    script(src="/javascripts/editarUCJS.js")

